/* Path: src\views\adm\css\login.css */
/* CSS DA PÁGINA DE LOGIN */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: url(../../img/svgs/login-background.svg) no-repeat center;
    background-size: cover;
}

.logo-sec .logo-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: (100vw * 0.25);
    height: (100vh * 0.25);
}

.title-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: 24px;
    font-weight: 700;
    padding: 12px 0;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 8px 0;
}

.esqueceusenha {
    display: flex;
    justify-content: end;
    align-items: end;
    font-size: 14px;
    font-weight: 600;
    margin: 0 8px 0 0;
}

.colab a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
}

.btn button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 340px;
    height: 50px;
    border: none;
    border-radius: 70px;
    background-color: #004cbd;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    margin: 8px 0;
    transition: 0.5s;
    cursor: pointer;
}

@media (max-width: 700px) {
    main {
        height: 100vh;
        width: 100vw;
        background-size: cover;
        background-position: center;
        padding: 20px; /* Adiciona espaço para melhor adaptação */
    }

    .logo-sec .logo-img {
        width: 50vw; /* Ajusta a largura para telas menores */
        height: auto;
    }

    .title-text {
        font-size: 20px; /* Reduz um pouco para telas pequenas */
        text-align: center;
    }

    .login-form {
        width: 90%; /* Ocupa quase toda a largura */
        padding: 12px;
    }

    .esqueceusenha {
        justify-content: center; /* Centraliza o link */
        font-size: 12px; /* Ajuste de tamanho */
        margin-top: 10px;
    }

    .colab a {
        font-size: 14px;
    }

    .btn button {
        width: 100%; /* Ocupa toda a largura disponível */
        max-width: 300px; /* Evita que fique muito largo */
        height: 45px;
        font-size: 14px;
    }
}
